<div id="react-root">
</div>
<svg>
    <defs>
        <linearGradient id="area-gradient" spreadMethod="repeat"
            gradientUnits="userSpaceOnUse"
            x1="0" y1="0"
            x2="7" y2="7">
            <stop offset="0" stop-color="transparent"/>
            <stop offset=".5" stop-color="transparent"/>
            <stop offset=".5" stop-color="green" stop-opacity=".3"/>
            <stop offset="1" stop-color="green" stop-opacity=".3"/>
        </linearGradient>
    </defs>
</svg>
<script src="/javascripts/bundle.js"></script>
