body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
  position: relative;
}

header {
  padding: 5px 15px;

  background: royalblue;

  display: flex;
  align-items: center;
}

header > nav {
  display: flex;

  font-size: 1.5em;
}

nav (a, a:visited) {
  color: #222;
  text-decoration: none;
}

nav > a:not(:last-of-type) {
  margin-right: 8px;
}

header > h1 {
  margin-right: 25px;
}

footer {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  background: teal;
}

.time-series {
  width: 60%;
  min-width: 400px;
}

.error {
  color: white;
  background: tomato;
  padding: 5px;
  border-radius: 5px;
}

.energy-balance {
  padding: 3em;
}

.energy-balance > nav {
  display: flex;
}

.plot-area {
  fill: url("#area-gradient");
}